:root{ 
    --main : rgb(6, 57, 108);
    --sec : white;
}


*{font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {font-family: 'Electrolize', sans-serif;
                }

.text-main {color: var(--main)}
.bg-main {background-color: var(--main);}
.border-main {border: 3px solid var(--main);}

.text-sec {color: var(--sec)}
.bg-sec {background-color: var(--sec);}
.border-sec {border: 3px solid var(--sec);}

/* header */

.header {
    background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/header.jpg);
        
        
        height: 70vh;
        }

/* Navbar */

.logo { height: 25px;
        color: var(--sec)
    }

.nav-link { color: var(--sec);
            }


   


/* section */

.lorem-ipsum {margin-top: 100px;
            margin-bottom: 100px;
            }

.virgolette{position: relative;}

.virgolette::before{content: open-quote;
                    position: absolute;
                    font-size: 80px;
                    top: -50px;
                    left: -15px;
                    color: var(--main);
}

.grassetto {font-weight: 900;}

/* card centrali */

.power {
    background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/power-plant-4712830_1280.jpg);
    background-position: center;
        
        
        height: 60vh;
        }

.icone  {height: 20px;}

.card1 {height: 700px;
        position: relative;
        left: 30px;
        top: -60px;
        transition: 1s;}

.card1:hover{top: 0px;
            left: 0px;}

.card2 {
        position: relative;
        top: 0px;
        right: 0px;
        transition: 1s;}
        
.card2:hover{right: 30px;
            top: -60px;}

@media screen and (max-width : 700px){
.card1          { position: static;
                }}

.pannelli   {width: 80%;
            }

.paragrafo-card {min-height: 20%;
                font-weight: bold;}

/* bottone */

.button {position: relative;}

button{position: absolute;
        left: calc(50%);
        }

/* Box Shadows */

#sacramento     {background-image: url(https://www.visitcalifornia.com/sites/visitcalifornia.com/files/vc_spotlightsacramento_sacramento_st_rf_187559989_1280x640.jpg)}
#carson-city    {background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Nevada_State_Museum.jpg)}
#albany         {background-image: url(https://c8.alamy.com/compit/taweb3/panoramica-aerea-di-albany-new-york-taweb3.jpg)}
#dallas         {background-image: url(https://www.ansa.it/webimages/ch_600x/2016/4/28/09e15d498762be1aaf191fc1778f7207.jpg)}


.box-shadow     {height: 200px;
                
                background-position: center;
                position: relative;
}

.box-shadow::before{
        content: '';
        height: 200px;
        width: 100%;
        position: absolute;
        top: -25px;
        left: -25px;
        z-index: -1;
        
        background-image: linear-gradient(90deg, rgba(6, 57, 108, 0.5), white);
        
}

.cit-usa {position: relative;}

.esplora{background: none;
        border: none;
        position: relative;
        bottom: -30px;
        left: 0px;}

/* Some stuff */

.somestuff{height: 300px;
           z-index: -1;}

.box-energia    {height: 180px;
                background-position: top;
                position: relative;
                margin-left: 7px;
                margin-right: 7px;
                z-index: 0;
                text-align: bottom;
                
                }

#sun    {background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/sun.png);
        top: -40px;
        
        }
#wind    {background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/wind.png);
        top: -40px;
        }
#wave    {background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/wave.png);
        top: -40px;
        }
#gas    {background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/gas.png);}
#oil    {background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/oil.png);}
#atom   {background-image: linear-gradient( rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5) ), url(./media/nuclear.png);}

.esplora2{background: none;
        border: none;
        position: absolute;
        top: 0px;
        right: 0px;}

/* download */

.download{box-shadow: 2px 2px 5px black;
          height: 300px;
          position: relative;
        }

.freccia    {color: gray;
             position: absolute;
             bottom: 50px;
             right: 140px;
             border: 1px solid gray;
             border-radius: 3px;
                }

/* footer */

.bg-dark{min-height: 400px;
position: relative;}

.lista {list-style-type: none;
        height: 250px;
        }

.elem-list{color: var(--sec);}

.other-stuff{position: absolute;
        height: 100%;
        top: -40px;
        right: 40px;        }

@media screen and (max-width:700px){.other-stuff{ position: static;}
}









        
            
